<div class="container mt-5">
  <div class="row" *ngIf="!isFetching">
    <ng-container *ngIf="articlesLength != 0;else noDataFound">
      <div *ngFor="let item of sportNewsHeadLine" class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch mb-3">
        <div class="card">
          <img src="{{item.image}}" alt="" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ item.title}}</h5>
            <a href="{{ item.url}}" class="btn btn-dark btn-sm" target="_blank">Read More...</a>
            <p class="card-text mt-2"><small class="text-muted">Published
              At {{ item.publishedAt | date : 'short'}}</small></p>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #noDataFound>
      <app-no-result></app-no-result>
    </ng-template>
  </div>
  <div *ngIf="isFetching" class="d-flex justify-content-center">
    <h5 class="badge rounded-pill bg-dark fs-2">Loading .....</h5>
  </div>
</div>
